deps

# CMake builds
build*/

# dotnet builds
**/obj/*
**/bin/*

# vs and vscode dirs
**.vs/
**.vscode/

# autogen unity artifacts
ExportedObj/
.consulo/
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

# symbol meta files
/*.pidb.meta
/*.pdb.meta

# unity crash report file
sysinfo.txt

# unity packaged builds
*.apk
*.unitypackage

# unity unneeded project folders
UnityProject/**/*.csproj
UnityProject/**/*.unityproj
UnityProject/**/*.sln
UnityProject/[Ll]ibrary/
UnityProject/[Tt]emp/
UnityProject/[Oo]bj/
UnityProject/[Bb]uild*
UnityProject/Assets/AssetStoreTools*
UnityProject/ProjectSettings/ProjectVersion.txt
